body {
  height: 100vh;
  margin: 0;
  font-size: 12pt;
}

header {
  height: 12%;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 2rem;

}

h4 {
  margin: 0;
}

main {
  height: 76%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.answers {
  width: 75%;
  height: 100%;
  text-align: center;
}

button {
  margin: 20px;
  display: block;
  width: 100%;
  background-color: orange;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
}

.answer-btn {
  height: 15%;
}

footer {
  height: 12%;
  background-color: black;
}

.next {
  width: 10%;
  margin-right: 30px;
}
