body {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  /* background-image: url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1323857/300/200/m1/fpnw/wm0/random-objects-pre-.jpg?1464682269&s=d7241c679926df223363924f0ec1c3d8'); */
  background: linear-gradient(180deg, red, orange, yellow, blue, indigo, violet);
  background-size: 500% 500%;
  animation: Rainbow 50s linear infinite;
}

header {
  height: 16vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 76vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  background: black;
  color: white;
  font-family: monospace;
  padding: 15px 10px;
  text-transform: uppercase;
}

label {
  margin-left: 1%;
  background: white;
  color: black;
  font-family: monospace;
  padding: 3px 3px;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.form-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:
}

form {
  height: 100%;
  width: 80%;
}

.questionNum.inputs {
  cursor: text;
  width: 98%;
}

.inputs {
  padding-left: 2%;
  height: 12%;
  width: 100%;
  background-color: black;
  color: white;
  border-style: none;
  margin-bottom: 2%;
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.inputs.submit{
  background-color: green;
}

.inputs.submit:hover {
  color: white;
}

footer {
  height: 8vh;
}

@-webkit-keyframes Rainbow {
  0% {
    background-position: 95% 0%; }
  50% {
    background-position: 7% 100%; }
  100% {
    background-position: 95% 0%; } }
